html {
  scroll-behavior: smooth;
}

body {
  background-color: #282c30;
  margin-top: 13rem;
}

p {
  font-family: 'Open Sans', serif;
}

.list-group-item {
  color: white;
}

.text-white {
  color: white;
}

.text-grey {
  color: #D3D3D3;
}

.btn-lg {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.navbartop {
  float: right;
  top: -3.5rem;
  width: 19rem;
}

.toplogo {
  position: absolute;
  z-index: 999;
  left: 5rem;
  top: -5.5rem;
}

/* ----------------------------------------------------------------H1------------------------------------------------------------------------------- */
h1 {
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
  color: white;
}

h1.center {
  margin: 0;
  position: absolute;
  left: 5rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1.name {
  font-size: 5rem;
  top: 70%;
}

h1.about {
  font-size: 2.5rem;
}

h1.portfolio {
  font-size: 6.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.cvname {
  font-size: 3.5rem;
}

h1.cvschool {
  font-size: 1.5rem;
}

/* ----------------------------------------------------------------H2------------------------------------------------------------------------------- */
h2 {
  font-family: 'Open Sans', serif;
  color: white;
}

h2.center {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 5rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h2.name {
  top: 80%;
}

h2.portfolio {
  top: 50%;
}

h2.cvtitle {
  font-size: 1.5rem;
}

/* ----------------------------------------------------------------H3------------------------------------------------------------------------------- */
h3 {
  font-family: 'Open Sans', serif;
  color: white;
}

h3.contact {
  font-size: 1.2rem;
}

h3.link {
  font-size: 1.4rem;
}

/* ---------------------------------------------------------------DIV------------------------------------------------------------------------------- */
div.box{
  position: relative;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

div.indexbox {
  height: 600px;
}

div.aboutbox {
  height: 150px;
}

div.portfoliobox {
  height: 400px;
}

div.portfolioinfobox {
  height: 100px;
}

div.headerbox {
  height: 150px;
}

/* ----------------------------------------------------------------CV------------------------------------------------------------------------------- */
.bg-cvbody {
  background-color: #616970;
}

.bg-cvhead{
  background-color: #565d64;
}

.cvbadge{
  font-family: 'Open Sans', serif;
  font-size: 0.8rem;
}

.cvlogo {
  height: 120px;
  width: 120px;
}

.short-cv {
  display: none;
}

/* -----------------------------------------------------------SCREEN SIZES--------------------------------------------------------------------------- */
  /* LARGER NAVBAR FOR SMALLER SCREENS */
  @media only screen and (min-width: 320px) and (max-width : 768px) {
    body {
      margin-top: 17rem;
    }

    .short-cv {
      display: inline-block;
    }

    .long-cv {
      display: none;
    }

    .navbartop {
      width: 100%;
    }

    h1.header {
      left: 50% !important;
    }

    .toplogo {
      position: absolute;
      top: -20.5rem;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  /* BOOTSRAP XS */
  @media (max-width: 575px){
    .btn-lg {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    h1.center {
      left: 1rem;
    }

    h1.name {
      font-size: 2.5rem;
      top: 72%;
    }

    h2.center {
      left: 1rem;
    }

    h2.name {
      font-size: 1.3rem;
      top: 86%;
    }

    div.indexbox {
      height: 275px;
    }

    div.portfoliobox {
      height: 200px;
    }

    h1.portfolio {
      font-size: 4rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2.portfolio {
      top: 50%;
      font-size: 1rem;
    }

    .hidexs {
      display: none;
    }

    .colmarginxs {
      margin-left: 0.1rem;
    }

    .card-columns {
      column-count: 1;
    }

    h1.cvschool {
      font-size: 1.3rem;
    }

    h1.cvname {
      font-size: 2rem;
    }

    h2.cvtitle {
      font-size: 0.8rem;
    }

    h3.link {
      font-size: 0.9rem;
    }
  }

  /* BOOTSTRAP SM */
  @media (min-width: 576px) and (max-width: 767px) {
    .btn-lg {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }

    h1.center {
      left: 1rem;
    }

    h1.name {
      font-size: 4rem;
      top: 75%;
    }

    h2.center {
      left: 1rem;
    }

    h2.name {
      font-size: 1.4rem;
      top: 86%;
    }

    div.indexbox {
      height: 400px;
    }

    div.portfoliobox {
      height: 250px;
    }

    h1.portfolio {
      font-size: 5rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2.portfolio {
      top: 50%;
      font-size: 1.5rem;
    }

    .colmarginsm {
      margin-left: 1rem;
    }

    .card-columns {
      column-count: 1;
    }

    h1.cvschool {
      font-size: 1.4rem;
    }

    .cvlogo {
      width: 90px;
      height: 90px;
    }

    h1.cvname {
      font-size: 2.2rem;
    }

    h2.cvtitle {
      font-size: 0.8rem;
    }

    h3.link {
      font-size: 0.8rem;
    }
  }

  /* BOOTSTRAP MD */
  @media (min-width: 768px) and (max-width: 992px) {
    h1.center {
      left: 2rem;
    }

    h2.center {
      left: 2rem;
    }

    h2.name {
      font-size: 1.7rem;
    }

    h1.portfolio {
      font-size: 5rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1.header {
      left: 65%;
    }

    div.portfoliobox {
      height: 300px;
    }

    .short-cv {
      display: inline-block;
    }

    .long-cv {
      display: none;
    }

    .card-columns {
      column-count: 2;
    }

    h1.cvschool {
      font-size: 1.4rem;
    }

    .cvlogo {
      width: 120px;
      height: 120px;
    }

    h1.cvname {
      font-size: 2.3rem;
    }

    h2.cvtitle {
      font-size: 1rem;
    }

    h3.link {
      font-size: 1rem;
    }
  }

  /* BOOTSTRAP LG */
  @media (min-width: 992px) and (max-width: 1199px){
    h1.cvschool {
      font-size: 1.2rem;
    }

    .cvlogo {
      width: 100px;
      height: 100px;
    }

    h1.cvname {
      font-size: 3rem;
    }

    h2.cvtitle {
      font-size: 1.3rem;
    }

    h3.link {
      font-size: 1.3rem;
    }
  }

  /* BOOTSTRAP XL */
  @media (min-width: 1200px) {
    ;
  }
