@font-face{
    font-family: "Kollektif";
    src: url("63cf8985576a4aaa66f7c13c94dba716.eot");
    src: url("63cf8985576a4aaa66f7c13c94dba716.eot?#iefix")format("embedded-opentype"),
        url("63cf8985576a4aaa66f7c13c94dba716.woff")format("woff"),
        url("63cf8985576a4aaa66f7c13c94dba716.woff2")format("woff2"),
        url("63cf8985576a4aaa66f7c13c94dba716.ttf")format("truetype"),
        url("63cf8985576a4aaa66f7c13c94dba716.svg#Kollektif")format("svg");
    font-weight:normal;
    font-style:normal;
}