<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.5">
<meta name="description" content="Matt Peake - Software Engineer | Passionate about coding and problem-solving. Discover my journey in software development and explore projects showcasing my skills.">
<meta name="keywords" content="Software Engineer, Web Development, Programming Languages, Problem-solving, Software Architecture, Code, Projects, Portfolio, Innovation, Collaboration, Digital Solutions, Technology, Coding, Software Development, Graduated Developer, Aspiring Developer, Skills, Expertise, Solutions, Empowering Businesses"/>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}


<link href="https://db.onlinewebfonts.com/c/63cf8985576a4aaa66f7c13c94dba716?family=Kollektif" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/5f221a77fe528442afaf7655d42ef98c?family=Kollektif+Bold" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/877ffeee8a04d3c4c36b1a050015e4a2?family=Gidole+Regular" rel="stylesheet">