<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.5">
<meta name="description" content="Matt Peake - Software Engineer | Passionate about coding and problem-solving. Discover my journey in software development and explore projects showcasing my skills.">
<meta name="keywords" content="Software Engineer, Web Development, Programming Languages, Problem-solving, Software Architecture, Code, Projects, Portfolio, Innovation, Collaboration, Digital Solutions, Technology, Coding, Software Development, Graduated Developer, Aspiring Developer, Skills, Expertise, Solutions, Empowering Businesses"/>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}
