{{ $typemap := dict }}
{{ $shuffledImages := slice }}

{{ range .Params.gallery }}
{{ $type := .type }}
{{ $images := resources.Match .location }}

{{ range $images }}
{{ $shuffledImages = $shuffledImages | append (dict "image" . "type" $type) }}
{{ $typemap = merge $typemap (dict .RelPermalink $type) }}
{{ end }}
{{ end }}

{{ $shuffledImages := partial "tools/shuffle.html" $shuffledImages }}

<div class="gallery">
  {{ range $shuffledImages }}
  <div class="image-container filterElement tagAll tag{{ .type }}">
    <img class="modal-target" src="{{ .image.RelPermalink }}">
  </div>
  {{ end }}
</div>

<div id="modal" class="modal">
  <span id="modal-close" class="modal-close">&times;</span>
  <img id="modal-content" class="modal-content">
  <div id="modal-caption" class="modal-caption"></div>
</div>

{{ if .IsSection }}
{{ partial "lists/filter.html" (dict "context" . "tags" $typemap) }}
{{ end }}

<script>
  // Modal Setup
  var modal = document.getElementById('modal');

  var modalClose = document.getElementById('modal-close');
  modalClose.addEventListener('click', function () {
    modal.style.display = "none";
  });

  // global handler
  document.addEventListener('click', function (e) {
    if (e.target.className.indexOf('modal-target') !== -1) {
      var img = e.target;
      var modalImg = document.getElementById("modal-content");
      var captionText = document.getElementById("modal-caption");
      modal.style.display = "block";
      modalImg.src = img.src;
      captionText.innerHTML = img.alt;
    }
  });
</script>