{{ $typemap := dict }}
{{ $shuffledImages := slice }}

{{ range .Params.gallery }}
{{ $type := .type }}
{{ $images := resources.Match .location }}

{{ range $images }}
{{ $shuffledImages = $shuffledImages | append (dict "image" . "type" $type) }}
{{ $typemap = merge $typemap (dict .RelPermalink $type) }}
{{ end }}
{{ end }}

{{ $shuffledImages := partial "tools/shuffle.html" $shuffledImages }}

<div class="gallery">
  {{ range $shuffledImages }}
  <div class="image-container filterElement tagAll tag{{ .type }}">
    <img class="image-fullscreen-target" src="{{ .image.RelPermalink }}">
  </div>
  {{ end }}
</div>

<div id="image-fullscreen" class="image-fullscreen">
  <button id="image-fullscreen-exit" class="image-fullscreen-exit">&times;</button>
  <img id="image-fullscreen-content" class="image-fullscreen-content">
</div>

{{ if .IsSection }}
{{ partial "lists/filter.html" (dict "context" . "tags" $typemap) }}
{{ end }}

<script>
  // Modal Setup
  var modal = document.getElementById('image-fullscreen');

  var modalClose = document.getElementById('image-fullscreen-exit');
  modalClose.addEventListener('click', function () {
    modal.style.display = "none";
  });

  // global handler
  document.addEventListener('click', function (e) {
  // Check if the clicked element has the class 'image-fullscreen-target'
  if (e.target.classList.contains('image-fullscreen-target')) {
    var img = e.target;
    var modalImg = document.getElementById("image-fullscreen-content");
    modal.style.display = "block"; // Show the modal
    modalImg.src = img.src; // Set the modal image source to the clicked image's source
  }
});
</script>