{{ range .Pages }}
<div class="project-list">
  <h1 class="project-grid-header" href='{{ lower (replace .Title " " "-") }}'>{{ .Title }}</h1>
  <div class="project-grid">
    {{ range .Pages }}
    <a href="{{if .Params.Link }}{{ .Params.Link }}{{else}}{{ .Params.GitHub }}{{end}}" class="project">
      {{ $image := .Resources.GetMatch "icon.svg" }}
      {{ if not $image }}
      {{ $image = resources.Get "images/default-project.svg" }}
      {{ end }}

      <div class="project-icon" style='mask-image: url("{{ $image.RelPermalink }}");'></div>

      <div class="project-info">
        <div class="project-header">
          <h2>{{ .Title }}</h2>
        </div>
        <div class="project-description">
          {{ .Params.Description }}
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}