@font-face{
    font-family: "Gidole Regular";
    src: url("877ffeee8a04d3c4c36b1a050015e4a2.eot");
    src: url("877ffeee8a04d3c4c36b1a050015e4a2.eot?#iefix")format("embedded-opentype"),
        url("877ffeee8a04d3c4c36b1a050015e4a2.woff")format("woff"),
        url("877ffeee8a04d3c4c36b1a050015e4a2.woff2")format("woff2"),
        url("877ffeee8a04d3c4c36b1a050015e4a2.ttf")format("truetype"),
        url("877ffeee8a04d3c4c36b1a050015e4a2.svg#Gidole Regular")format("svg");
    font-weight:normal;
    font-style:normal;
}