header {
    grid-area: header;

    background-color: var(--bgcolor);
    padding: var(--pad-header-x) var(--pad-y-xxl) var(--pad-header-x) var(--pad-y-xxl);

    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 768px) {
        padding: var(--pad-header-x) var(--pad-y-md) var(--pad-header-x) var(--pad-y-md);
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        padding: var(--pad-header-x) var(--pad-y-lg) var(--pad-header-x) var(--pad-y-lg);
    }
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;

    align-items: center;

    height: 100%;

    padding: 0;
}

.logo {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: min-content;

    img {
        display: block;
        width: 3rem;
        pointer-events: none;
    }

    @media (max-width: 768px) {
        img {
            width: 2rem;
        }
    }
}

.navmenu {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
}

.navmenu-text {
    font-size: 1.75rem;
    font-family: var(--main-font);
    color: var(--accent);
    text-decoration: none;
    background-color: transparent;
    border-bottom: 4px solid transparent;

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }
}

.navmenu-text:hover {
    text-decoration: none;
    color: var(--textcolor);
    border-bottom: 4px solid black;
}
