.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;

    align-items: center;

    height: 100%;

    padding: 0;
}

.logo {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: min-content;
    
    img {
        display: block;
        width: 3rem;
        pointer-events: none;
    }
}

.navmenu {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
}

.navmenu-text {
    font-size: 1.75rem;
    font-family: var(--main-font);
    color: var(--textcolor);
    text-decoration: none;
    background-color: transparent;
    border-bottom: 4px solid transparent;
}

.navmenu-text:hover {
    text-decoration: none;
    color: var(--textcolor);
    border-bottom: 4px solid black;
}

@media (max-width: 575px) {
    .navmenu-text {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navmenu-text {
        font-size: 1.25rem;
    }
}