:root {
  --bgcolor: #F4F3F2;
  --bgcolor-off: #dcdbda;
  --accent: #141414;
  --textcolor: #141414;

  --pad-y-md: 5vw;
  --pad-y-lg: 10vw;
  --pad-y-xl: 15vw;
  --pad-y-xxl: 5vw;

  --pad-header-x: 2vh;
  --pad-footer-x: 2vh;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --main-font: "Kollektif Bold", sans-serif;
  --second-font: "Kollektif", sans-serif;
  --text-font: "Gidole Regular", sans-serif;
}

::selection {
  color: var(--bgcolor);
  background: var(--textcolor);
}

html {
  height: 100%;
  background-color: var(--bgcolor);
}

body {
  grid-area: body;

  height: 100%;
  width: 100%;

  margin: 0;

  font-weight: 400;
  line-height: 1.5;
  text-align: left;

  font-family: var(--text-font);

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";


  @media (max-width: 768px) {
    grid-template-rows: auto 1fr auto;
  }
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.overflow {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-family: var(--main-font);
  color: var(--textcolor);
}

h2 {
  font-family: var(--second-font);
  color: var(--textcolor);
}

p {
  font-family: var(--text-font);
}

.page-title-bar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  padding: 0 15vw 1rem 15vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    grid-template-columns: auto auto;
    padding: 0.75rem var(--pad-y-md) 0.5rem var(--pad-y-md);
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    padding: 0.75rem var(--pad-y-lg) 0.5rem var(--pad-y-lg);
  }
}

.page-title {
  padding-left: 0.75rem;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.75rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    h1 {
      font-size: 2.25rem;
    }
  }
}

.page-icon {
  width: 2rem;
  height: 2rem;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.body-404 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-404 {
  width: min-content;
  margin: auto;

  img {
      display: block;
      width: 5vh;
      pointer-events: none;
  }
}

.text-404 {
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 12vh;
}

.subtext-404 {
  text-align: center;
  font-family: var(--text-font);
  font-size: 2vh;
}