html,body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #000000;
}
h1.navBtn {
  font-size: 1.75rem;
  display: inline-block;
  padding-top: 0.5rem;
  border-bottom: 8px solid transparent;
}
h1.navBtn:hover {
  border-bottom: 4px solid black;
}
h1.about-me {
  font-size: 3rem;
}

h2 {
  color: #000000;
}
h2.showcase {
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
p.about-me {
  text-align: justify;
  font-size: 1.75rem;
  width: 50%;
}

hr.line {
  border: 4px solid black;
  width: 100%;
}
.card {
  border: 5px solid black;
}
.badge {
  font-size: 0.75rem;
}

div.watermark {
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 0.5;
  z-index: 99;
  color: white;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div.logo {
  width: 60px;
  height: 60px;
}

#projectShowcase {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#colourfulBoids {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Icon List */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  display: inline-block;
  padding: 0 1em 0 0;
}
ul.icons li {
  display: inline-block;
  padding: 0.25em 1em 0 0;
}
ul.icons li .icon {
  color: inherit;
  font-size: 1.25em;
}

/* Icon */
.icon {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
}
.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}

/* -----------------------------------------------------------SCREEN SIZES--------------------------------------------------------------------------- */
  /* BOOTSRAP XS */
  @media (max-width: 575px){
    .hide {
       display: none;
    }

    p.about-me {
      font-size: 1rem;
      width: 100%;
    }

    h1.about-me {
      font-size: 1.75rem;
    }
    h1.navBtn {
      font-size: 1rem;
    }

    div.logo {
      width: 40px;
      height: 40px;
    }

    .badge {
      font-size: 0.5rem;
    }
    .btn {
      font-size: 0.65rem;
    }

    ul.icons li .icon {
      font-size: 1em;
    }
    ul.icons li {
      display: inline-block;
      padding: 0.25em 0.75em 0 0;
    }

    .card-columns {
      column-count: 1;
    }
  }

  /* BOOTSTRAP SM */
  @media (min-width: 576px) and (max-width: 767px) {
    .hide {
       display: none;
    }

    p.about-me {
      font-size: 1.25rem;
      width: 90%;
    }

    h1.about-me {
      font-size: 2.5rem;
    }
    h1.navBtn {
      font-size: 1.25rem;
    }

    div.logo {
      width: 50px;
      height: 50px;
    }

    .card-columns {
      column-count: 1;
    }
  }

  /* BOOTSTRAP MD */
  @media (min-width: 768px) and (max-width: 992px) {
    .hide {
       display: none;
    }

    h1.about-me {
      font-size: 2.5rem;
    }
    p.about-me {
      font-size: 1.5rem;
      width: 90%;
    }

    .card-columns {
      column-count: 2;
    }
  }

  /* BOOTSTRAP LG */
  @media (min-width: 992px) and (max-width: 1199px){
    .hide {
       display: none;
    }

    h1.about-me {
      font-size: 2.5rem;
    }
    p.about-me {
      font-size: 1.5rem;
      width: 80%;
    }
  }
