.gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1rem var(--y-padding-xl) 1rem var(--y-padding-xl);
}

/* Create four equal columns that sits next to each other */
.column {
    flex: calc((100% / 4) - (4px * 2));
    max-width: calc((100% / 4) - (4px * 2));
    padding: 0 4px;
}

.image-container {
    margin-top: 8px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
    transition: transform .4s;
}

.image-container img:hover {
    transform: scale(1.2);
    transform-origin: 50% 50%;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .column {
        flex: calc((100% / 2) - (4px * 2));
        max-width: calc((100% / 2) - (4px * 2));
    }
}