.filterBtns {
	display: grid;
	grid-auto-flow: column;
	column-gap: 5px;

	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	/* Not selectable */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@media (max-width: 768px) {
		grid-area: 2;
		grid-column: 1 / span 2;
		padding-top: 0.5rem;
	}

	@media (min-width: 768px) and (max-width: 1200px) {
		grid-area: 2;
		grid-column: 1 / span 2;
		padding-top: 0.5rem;
	}
}

.filterBtn {
	background-color: var(--bgcolor);
	padding: 2px 6px 2px 6px;
	border-radius: 8px;
	border-width: .125rem;

	font-family: var(--text-font);
	font-size: 1rem;
	font-weight: 500;

	cursor: pointer;
	white-space: nowrap;

	/* Not selectable */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&::-webkit-scrollbar {
		display: none;
	}

	@media (max-width: 768px) {
		font-size: 0.75rem;
	}
}

/* Add a light grey background on mouse-over */
.filterBtn:hover {
	background-color: var(--bgcolor-off);
}

/* Add a dark background to the active button */
.filterBtn.active {
	background-color: var(--accent);
	color: var(--bgcolor);
}

.show {
	display: block !important;
}

.filterElement {
	display: none;
}