.project-list {
	overflow: hidden;
	padding: 0rem var(--pad-y-xl) 2rem var(--pad-y-xl);
	margin-bottom: 1rem;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@media (max-width: 768px) {
		padding: 0.5rem var(--pad-y-md) 0.5rem var(--pad-y-md);
	}

	@media (min-width: 768px) and (max-width: 1200px) {
		padding: 0.5rem var(--pad-y-lg) 0.5rem var(--pad-y-lg);
	}
}

.project-grid-header {
	margin: 0;
	padding-bottom: 0.5rem;

	font-weight: 600;
	font-size: 1.75rem;
	text-decoration: none;
	color: var(--accent);

	@media (max-width: 768px) {
		font-size: 1.25rem;
	}
}

.project-grid {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}

	@media (min-width: 768px) and (max-width: 1440px) {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}
}

.project {
	background-color: var(--bgcolor);
	border-radius: 14px;
	overflow: hidden;
	padding: 0.5rem 1.25rem 0.5rem 1.25rem;
	position: relative;
	transition: .15s ease-in;

	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.25rem;

	cursor: pointer;
	text-decoration: none;

	height: 100%;
	align-content: stretch;

	&:hover {
		background-color: var(--bgcolor-off);
	}
}

.project-icon {
	aspect-ratio: 1 / 1;
	overflow: hidden;
	align-self: center;

	/* Not selectable */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: var(--accent);
    height: 3rem;
    width: 3rem;

    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.project-info {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.project-header {
	display: flex;
	align-items: start;
	justify-content: space-between;

	h2 {
		font-weight: 600;
		font-size: 1.25rem;
		text-decoration: none;
		color: var(--accent);
		margin: 0;

		@media (max-width: 768px) {
			font-size: 1rem;
		}
	}
}

.project-description {
	color: var(--accent);
	line-height: 1.25em;
	text-decoration: none;

	@media (max-width: 768px) {
		font-size: 0.85rem;
	}
}