    <div class="footer">
        <div class="icons">
            <a href="https://twitter.com/mjpeake" aria-label="Twitter" class="icon fa-twitter"></a>
            <a href="https://www.linkedin.com/in/mjpeake/" aria-label="LinkedIn" class="icon fa-linkedin"></a>
            <a href="https://www.hackerrank.com/mattpeake" aria-label="HackerRank" class="icon fa-hackerrank"></a>
            <a href="https://github.com/mjpeake" aria-label="GitHub" class="icon fa-github"></a>
        </div>
        <hr class="line">
    </div>